version: '1.0'

networks:
  dockerapi-dev:
    driver: bridge

services:
  dockerapi:
    image: tech-challenger:latest
    depends_on:
      - "postgres_image"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8080"
    environment:
      DB_CONNECTION_STRING: "host=postgres_image;port=5432;database=postgres;User ID=postgres;password=T3cHCh@113ng3"
    networks:
      - dockerapi-dev
  
  postgres_image:
    image: postgres:latest
    ports:
      - 5432:5432
    restart: always
    volumes:
      - db_volume:/var/lib/postgresql/data
#      - ./dbscripts/seed.sql :/docker-entrypoint-initdb.d/seed.sql
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "T3cHCh@113ng3"
      POSTGRES_DB: "postgres"
    networks:
      - dockerapi-dev
volumes:
  db_volume:
         
    
     